# Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos Temporales de Microsoft Office
~$*.docx
~$*.xlsx
~$*.pptx
*.tmp

# Entornos y Editor
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
